.section-container.education{
    margin-top: 30px;
    height: 446px;
}
.section-container.section{
    height: 280px;
    width: 940px;
}
.dates-container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.form-field-input.date{
    width: 415px;
    padding-right: 20px;
}
.form-field-input.education{
    width: 900px;
}
.action-buttons{
    display: flex;
    margin-top: 30px;
    align-items: center;
    gap: 10px;
}
.form-submit-button.education{
    width: 482px;
}
.form-submit-button.education.one{
    background-color: white;
    color: black;
    border: solid, 1px, rgba(0, 0, 0, 0.1);
}